* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
    object-fit: contain;
}

.title {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets_day1/img/wall.png);
}

.estate {
    font-family: "Edu TAS Beginner", cursive;
    font-size: 3.5rem;
}

.cont {
    padding: 8%;
    width: 100wv;
    height: 100%;
    background-image: url(../assets_day1/img/cork.png);
}

.card {
    position: relative;
    cursor: pointer;
    box-shadow: 0 5px 10px;
}

.card:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 15px 25px;
}

.card-text {
    font-family: "Edu TAS Beginner", cursive;
    text-align: start;
}

.pin {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: relative;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 0%, 50%);
}

button {
    padding: 0.25rem;
    width: 5rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.img-aperta {
    width: 50%;
}

.sopra-tutto {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}
